.first-screen__header {
    display: flex;
    flex-direction: column;
}

.header__top {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;

    &>span {
        color: white;
    }
}

.header__bottom {
    display: flex;
    justify-content: space-between;

    &>a {
        transition: all 0.5s ease;
        border: 2px solid white;
        border-left: 0px;
        flex: 1 1 auto;
        padding: 13px 10px;
        text-align: center;
        text-decoration: none;
        color: white;

        &:first-child {
            border-left: 0px solid white;
        }

        &:last-child {
            border-right: 0px solid white;
        }

        &:hover {
            color: black;
            background-color: white;
        }
    }
}