.sign {
    background-color: #282828;
    padding: 100px 0;
}

.sign__body {
    overflow: visible;
    position: relative;
    width: 1200px;
    margin: 0 auto;
    border: 3px solid white;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 300px;
    gap: 50px;
}

.sign__title {
    text-align: center;
    z-index: 5;
    background-color: #282828;
    padding: 0 30px;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    font-family: 'Playfair Display';
}

.sign__text {
    font-size: 16px;
    text-align: center;
}

.sign__form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    gap: 20px;

    input {
        font-size: 16px;
        transition: all 0.5s ease;
        color: #E6E3C4;
        border: 0;
        outline: 0;
        border-bottom: 1px solid white;
        padding: 15px 0;
        background-color: transparent;

        &::placeholder {
            font-size: 16px;
            color: white;
        }

        &:focus {
            border-bottom: 1px solid #E6E3C4;
        }
    }
}

.form__adress {
    grid-column-start: span 2;
}

.form__button {
    cursor: pointer;
    transition: all 0.5s ease;
    padding: 15px 0;
    font-size: 16px;
    grid-column-start: span 2;
    background-color: transparent;
    border: 1px solid white;
    color: white;

    &:hover {
        background-color: white;
        color: #282828;
    }
}

.sign__line {
    width: 118px;
    height: 1px;
    background-color: white;
}

.sign__img {
    position: absolute;
}

.sign__img.img1 {
    top: -50px;
    left: -10px;
}

.sign__img.img2 {
    top: -50px;
    right: -10px;
}


@media (max-width: 1200px) {
    .sign {
        padding: 100px 20px;
    }

    .sign__body {
        width: 100%;
    }

    .sign__img {
        width: 200px;
    }
}

@media (max-width: 930px) {
    .sign__body {
        padding: 80px 200px;
    }

    .sign__img {
        width: 150px;
    }
}

@media (max-width: 830px) {
    .sign__title {
        width: min-content;
        padding: 0 10px;
    }
}

@media (max-width: 736px) {
    .sign__body {
        padding: 80px 100px;
    }
}

@media (max-width: 550px) {
    .sign__title {
        font-size: 20px;
    }

    .sign__img {
        width: 100px;
    }

    .sign__form {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 500px) {
    .sign__body {
        padding: 80px 50px;
    }
}

@media (max-width: 400px) {
    .sign__img {
        display: none;
    }
}

@media (max-width: 320px) {
    .sign {
        padding: 50px 20px;
    }

    .sign__body {
        padding: 50px 30px;
    }

    .sign__form input {
        font-size: 12px;
        padding: 5px 0;

        &::placeholder {
            font-size: 12px;
        }
    }
}

@media (max-width: 230px) {
    .sign {
        padding: 50px 10px;
    }

    .sign__body {
        padding: 40px 20px;
    }

    .sign__text {
        font-size: 12px;
    }

    .form__button {
        font-size: 12px;
    }

    .sign__title {
        font-size: 16px;
    }

    .sign__line {
        width: 80%;
    }
}