.taste {
    padding: 50px 0;
    background-color: #282828;
    color: white;
    text-align: center;
}

.taste__body {
    border: 3px solid white;
    width: 1200px;
    margin: 0 auto;
    padding: 60px 200px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.taste__line {
    margin: 0 auto;
    width: 180px;
    height: 3px;
    background-color: white;
}

.taste__title {
    font-family: 'Playfair Display';
}

.taste__text {
    font-family: Montserrat;
    font-size: 16px;
}


@media (max-width: 1200px) {
    .taste__body {
        width: 100%;
    }
}

@media (max-width: 700px) {
    .taste__body {
        padding: 60px 100px;
    }
}

@media (max-width: 500px) {
    .taste__body {
        padding: 50px 50px;
    }
}

@media (max-width: 320px) {
    .taste__body {
        padding: 40px 20px;
    }

    .taste__text {
        font-size: 14px;
    }

    .taste__line {
        width: 80%;
    }
}